<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      
    </startup>

  <connectionStrings>
    <add name="BDConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
    AttachDbFilename=|DataDirectory|\Clothes.mdf;
    Initial Catalog=Clothes; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>


<!--
 <add name="BDConnection"
         connectionString="Data Source=.\SQLEXPRESS;
         Initial Catalog=Clothes;
         Integrated Security=True"
         providerName="System.Data.SqlClient"
-->